.skills {
  background: $blue;
  color: white;
  padding: 64px 16px 88px;
  &__header {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
  }
}

.skills-list {  
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: $lighterBlue;
  width: 288px;
  margin: 0 auto;
}

.skills-section {
  margin-top: 64px;
  &__emoji {
    font-size: 64px;
    line-height: 64px;
    display: block;
    text-align: center;
  }
  &__header {
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    margin: 16px 0 24px;
  }
}
